<% content_for :title, "Showing racer season" %>

<div class="md:w-2/3 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-4xl">Showing racer season</h1>

  <%= render @racer_season %>

  <%= link_to "Edit this racer season", edit_racer_season_path(@racer_season), class: "btn btn-ghost" %>
  <%= link_to "Back to racer seasons", racer_seasons_path, class: "btn btn-ghost" %>
  <%= button_to "Destroy this racer season", @racer_season, method: :delete, form_class: "sm:inline-block mt-2 sm:mt-0 sm:ml-2", class: "btn btn-error", data: { turbo_confirm: "Are you sure?" } %>
</div>
