<% content_for :title, "Showing race result" %>

<div class="md:w-2/3 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-4xl">Showing race result</h1>

  <%= render @race_result %>

  <%= link_to "Edit this race result", edit_race_result_path(@race_result), class: "btn btn-ghost" %>
  <%= link_to "Back to race results", race_results_path, class: "btn btn-ghost" %>
  <%= button_to "Destroy this race result", @race_result, method: :delete, form_class: "sm:inline-block mt-2 sm:mt-0 sm:ml-2", class: "btn btn-error", data: { turbo_confirm: "Are you sure?" } %>
</div>
